package views

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
			<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
		</head>
		<body class="bg-gray-100 min-h-screen">
			<nav class="bg-white shadow-lg mb-8">
				<div class="max-w-6xl mx-auto px-4">
					<div class="flex justify-between">
						<div class="flex space-x-7">
							<div>
								<a href="/" class="flex items-center py-4 px-2">
									<span class="font-semibold text-gray-500 text-lg">Training Organiser</span>
								</a>
							</div>
							<div class="hidden md:flex items-center space-x-1">
								<a href="/" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold ">Home</a>
								<a href="/curriculum" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Curriculum</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<main class="max-w-6xl mx-auto px-4">
				{ children... }
			</main>
		</body>
	</html>
}
